<div class="container">
  <div class="row mt-4">
    <div class="col">
      <div class="form-group">
        <label for="search">Search</label>
        <input
          type="text"
          name="search"
          class="form-control"
          placeholder="type to search"
          (input)="searchCourse($event)"
        />
      </div>
    </div>
    <div class="col">
      <div>Filter By:</div>

      <input
        type="checkbox"
        name="all"
        value="all"
        (input)="filterCourses($event)"
      />
      <label for="it">All</label>
      <br />
      <input
        type="checkbox"
        name="it"
        value="it"
        (input)="filterCourses($event)"
      />
      <label for="it">IT Cources</label><br />
      <input
        type="checkbox"
        name="accounts"
        value="accounts"
        (input)="filterCourses($event)"
      />
      <label for="it">Accounts Cources</label>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    @for(item of allCourses; track item.idcourses){
    <div class="col-md-3 mt-4 mb-2">
      <mat-card class="example-card" appearance="raised">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ item.name }}</mat-card-title>
          <mat-card-subtitle>{{ item.code }}</mat-card-subtitle>
        </mat-card-header>
        <div class="course-img">
          <img
            mat-card-image
            class="course-img"
            [src]="item.image_url"
            alt="photo of course"
          />
        </div>

        <mat-card-content class="course-content">
          <p>
            {{ item.description }}
          </p>
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-between">
          <button
            mat-raised-button
            type="button"
            routerLink="details"
            [queryParams]="{ id: item.idcourses }"
            class="text-primary"
          >
            Show More
          </button>
          <div class="d-flex align-items-end">
            <div class="text-warning">Rating: {{ item.rating }}</div>
            <div class="ms-2">Price: ${{ item.price }}</div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    }
  </div>
</div>
